<div class="section">
  <div class="container">
    <h1 class="title has-text-centered">Your Cart</h1>

    <% if cart.any? %>
      <% cart.each do |product| %>
        <div class="card mb-5">
          <div class="card-content">
            <div class="columns is-vcentered is-mobile">
              <div class="column is-narrow">
                <% if product[:product].image.present? %>
                  <figure class="image is-128x128">
                    <%= image_tag product[:product].image.variant(resize_to_limit: [128, 128]).processed, alt: product[:product].name, class: "image is-rounded" %>
                  </figure>
                <% else %>
                  <figure class="image is-128x128">
                    <%= image_tag "no-image-icon.png", alt: "No image found", class: "image is-rounded" %>
                  </figure>
                <% end %>
              </div>

              <div class="column">
                <h5 class="title is-5 mb-1">
                  <%= link_to product[:product].name, product[:product], class: "has-text-link" %>
                </h5>
                <p class="is-size-6">Price: $<%= product[:product].price %></p>

                <%= form_with url: update_quantity_cart_path(product[:product].id), method: :patch, local: true do |f| %>
                  <div class="field has-addons is-align-items-stretch">
                    <div class="control">
                      <%= f.number_field :quantity, value: product[:quantity], min: 0, class: "input", style: "width: 80px;" %>
                    </div>
                    <div class="control">
                      <%= f.submit "Update", class: "button" %>
                    </div>
                  </div>
                <% end %>

                <p class="is-size-6 has-text-weight-semibold">Total: $<%= product[:total] %></p>
              </div>

              <div class="column is-narrow has-text-right">
                <%= button_to cart_path(product[:product]), method: :delete, class: "button is-danger is-light" do %>
                  <span class="icon"><i class="fas fa-trash"></i></span>
                  <span>Remove</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="box has-text-right">
        <h3 class="title is-4">Order Total: $<%= cart.sum { |product| product[:total] } %></h3>
        <%= link_to "Checkout", root_path, class: "button is-primary is-medium" %>
      </div>
    <% else %>
      <div class="notification has-text-centered">
        Your cart is empty.
      </div>
    <% end %>
  </div>
</div>
