<h2 class="title is-3 has-text-centered">Sign up</h2>

<div class="container">
  <div class="box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
      <div class="has-text-danger">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="field">
        <%= form.label :email, class: "label" %>
        <div class="control">
          <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :username, class: "label" %>
        <div class="control">
          <%= form.text_field :username, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :password, class: "label" %>
        <div class="control">
          <%= form.password_field :password, autocomplete: "new-password", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :password_confirmation, class: "label" %>
        <div class="control">
          <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :name, class: "label" %>
        <div class="control">
          <%= form.text_field :name, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :address, class: "label" %>
        <div class="control">
          <%= form.text_field :address, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :city, class: "label" %>
        <div class="control">
          <%= form.text_field :city, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :province_id, "Select Province" %>
        <%= form.collection_select :province_id, Province.all, :id, :name, { prompt: "Select a province" }, { class: "input" } %>
      </div>

      <div class="field">
        <%= form.label :postal_code, class: "label" %>
        <div class="control">
          <%= form.text_field :postal_code, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :phone, class: "label" %>
        <div class="control">
          <%= form.telephone_field :phone, class: "input" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.submit "Sign up", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>