<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <h2 class="title has-text-centered">Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <label class="label"><%= f.label :email %></label>
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <div class="field mt-4">
              <div class="control">
                <%= f.submit "Reset Password", class: "button is-primary" %>
              </div>
            </div>
          <% end %>

          <div class="has-text-centered mt-4">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
