<h1><%= @product.name %></h1>

<% if @product.image.present? %>
  <%= image_tag @product.image %>
<% end %>

<h2><%= @product.price %></h2>
<h4><%= @product.stock_quantity %> in Stock</h4>

<p><%= @product.description %></p>