<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Peak Performance Ecommerce" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <script src="https://kit.fontawesome.com/c31e4ff6de.js" crossorigin="anonymous"></script>
  </head>

  <body class="is-fullheight has-background-grey-lighter">
    <div class="has-text-centered">
      <div class="has-text-centered">
        <%= link_to image_tag("pp_logo.png", :alt => "Peak Performance logo", :class => "pt-5 pb-5"), root_path %>
      </div>

      <div class="is-flex is-justify-content-flex-end mr-6 mb-2">
        <% if user_signed_in? %>
          Welcome, <%= current_user.name %> - <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "has-text-link ml-2" %>
        <% else %>
          <%= button_to "Log In", new_user_session_path, method: :get, class: "has-text-link ml-2" %>
        <% end %>
        <%= link_to "", cart_index_path, class: "title is-5 fa-solid fa-cart-shopping mx-3 mt-1 mt-0-tablet" %>
      </div>

      <div class="navbar box ml-2 mr-2 has-text-centered">
        <div class="navbar-menu is-flex is-flex-direction-column-mobile is-flex-direction-row-tablet
            is-align-items-center is-justify-content-center pl-6 pr-6 is-flex-wrap-wrap">
          <%= link_to "Products", products_path, class: "title is-5 navbar-item mx-3 mb-2 mb-0-tablet" %>

          <%= link_to "Categories", categories_path, class: "title is-5 navbar-item mx-3 mb-2 mb-0-tablet" %>

          <%= link_to "Brands", root_path, class: "title is-5 navbar-item mx-3 mb-2 mb-0-tablet" %>

          <%= form_with(url: search_results_products_path, method: "get", local: true, class: "navbar-end") do %>
            <div class="field is-flex">
              <%= select_tag :category, options_from_collection_for_select(categories, "id", "name"),
                  include_blank: true, class: "select mt-1 mr-1" %>

              <div class="control" style="flex-grow: 1;">
                <%= text_field_tag(:query, nil, placeholder: "Search for a Product",
                    class: "input subtitle is-6 is-fullwidth") %>
              </div>

              <%= button_tag(type: "submit", class: "button") do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <% flash.each do |type, msg| %>
        <div class="notification has-text-centered ml-6 mr-6">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>

    <footer class="footer has-background-light mt-6">
      <div class="content has-text-centered">
        <p>
          <%= link_to "About", root_path, class: "has-text-grey-dark mx-3" %>
          |
          <%= link_to "Contact", root_path, class: "has-text-grey-dark mx-3" %>
        </p>
        <p class="is-size-7 has-text-grey">
          &copy; <%= Time.current.year %> Peak Performance. All rights reserved.
        </p>
      </div>
    </footer>

    </div>
  </body>
</html>
