<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Peak Performance Ecommerce" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <script src="https://kit.fontawesome.com/c31e4ff6de.js" crossorigin="anonymous"></script>
  </head>

  <body class="is-fullheight" style="background-color: #e8e8e8;">
    <div class="has-text-centered">
      <div class="has-text-centered">
        <%= link_to image_tag("pp_logo.png", :alt => "Peak Performance logo", :class => "pt-5 pb-5"), root_path %>
      </div>

      <div class="navbar box ml-2 mr-2">
        <div class="navbar-menu is-flex is-justify-content-center pl-6 pr-6">
          <%= link_to "Products", products_path, :class => "title is-4 navbar-item ml-3 mr-3 mb-0" %>

          <%= link_to "Categories", categories_path, :class => "title is-4 navbar-item ml-3 mr-3 mb-0" %>

          <%= link_to "Brands", root_path, :class => "title is-4 navbar-item ml-3 mr-3 mb-0" %>

          <%= link_to "", cart_index_path, :class => "title is-4 navbar-item mt-2 fa-solid fa-cart-shopping navbar-end" %>
        </div>
      </div>

      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
